<div class="banner">
    <img style="display: right;" alt="UCSD Library" src="{{ site.workshop_site }}/assets/NewLibraryLogo-2767.png">
  </a>
    <img style="display: left;border:0;" alt="UCSD Research IT Services" src="{{ site.workshop_site }}/assets/RITS-image2.png">
  </a>
</div>

<!-- make sure to update the _config.yml file with the current workshop repo or site.workshop_site-->

<!--  <img style="display: block;margin-right: auto;margin-left: auto;width: 50%" alt="The Carpentries at UC" src="{{ site.workshop_site }}/assets/thecarpentriesuc2.png">
-->
